<div class="l-container l-container--fluid l-projects">
    {{#each projects}}
        <article class="project">
            <a class="project__link" target="_blank" href="{{url}}">{{name}}</a> {{image}}
        </article>
    {{/each}}
</div>

