.project {
  background-color: $white;
  display: inline-block;
  text-align: center;
  margin-bottom: 22px;
  margin-right: 10px;
  flex-flow: row wrap;
  padding: 10px;
  flex-basis: calc((100% / 5) - 30px);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  &:hover{
    background-color: darken($white, 3);
  }

  &__link{
    color: black;
    text-decoration: none;
  }

  &__image {
    width: calc(50% - 3px);
  }
}