<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<nav class="m-nav">
    <ul class="m-nav__list">
        <li class="m-nav__item"><a class="m-nav__link" href="/">Home</a></li>
        <li class="m-nav__item"><a class="m-nav__link" href="/projects">Projects</a></li>
        <li class="m-nav__item"><a class="m-nav__link" href="/account">Account</a></li>
    </ul>
</nav>
<main class="l-app">
    {{{body}}}
</main>
</body>
</html>